body {
    background-color: #F3EFE0;
}

div #main{
    margin: 0em 5em;
}

nav{
    border: 1px solid black;
    height: 2em;
    margin: 0px;
}

div .navLink{
    display: inline;
    float: right;
}

.navLink a {
    text-decoration: none;
    margin: 25px 15px 10px 75px ;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 10px 15px 10px;
}

h1{
    font-family: 'Fondamento', cursive;
}

p{
    line-height: 3em;
}
